body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.root{
  width: 300px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.ulEl {
  padding-left: 20px;
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
